#Middle {
    width: 800px;
    margin: 0 auto;
    background-color: #eeeeee;
}

.Form {
    border-radius: 5px;
    background-color: #012142;
    padding: 20px 15px;
}

h3 {
    color: white;
    margin-top: 0px;
    margin-bottom: 8px;
}

.test input[type=text],
.test input[type=email] {
    background: #FFF;
    color: #333;
    font: 13px/1.6 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 32px;
    line-height: 24px;
    margin: 0px 0px 0px -4px;
    outline: none;
    padding: 0 3px;
    width: 260px;
}

.test input[type=date] {
    background: #FFF;
    color: #333;
    font: 13px/1.6 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 32px;
    line-height: 24px;
    margin: 0px 0px 0px -4px;
    outline: none;
    padding: 0 3px;
    width: 128px;
}

.test input[type=date]::-webkit-datetime-edit {
    color: #0064a3;
    font-weight: bold;
}

.test input[type=text]::-webkit-input-placeholder,
.test input[type=email]::-webkit-input-placeholder {
    color: #0064a3;
    font-weight: bold;
}

.test input[type=text]::-moz-placeholder,
.test input[type=email]::-moz-placeholder {
    /* Firefox 19+ */
    color: #0064a3;
    font-weight: bold;
}

.test input[type=text]:-ms-input-placeholder,
.test input[type=email]:-ms-input-placeholder {
    /* IE 10+ */
    color: #0064a3;
    font-weight: bold;
}

.test input[type=text]:-moz-placeholder,
.test input[type=email]:-moz-placeholder {
    /* Firefox 18- */
    color: #0064a3;
    font-weight: bold;
}

.test input[type=submit] {
    text-align: center;
    background-color: #ff7c37;
    color: white;
    padding: 12px 35px;
    display: inline-block;
    border: none;
    box-shadow: inset 0 1px 3px #ddd;
    float: right;
    text-decoration: none;
    margin: 15px 15px;
}

.subtitle {
    color: white;
    margin: 0 0 5px 0;
    font-size: 12px;
}

.reviewstyle {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0px 10px;
}

.reviewstyle th {
    text-align: left;
    color: #ffffff;
}

.input_label {
    background: #EEE;
    display: inline-block;
    height: 36px;
    width: 105px;
    line-height: 36px;
    margin-right: 0;
    float: left;
    vertical-align: middle;
}

label {
    padding: 0 0 0 10px;
    color: #787676;
    font-size: 13px;
}

.ratingparent {
    float: left;
    background: #FFF;
    color: #333;
    font: 13px/1.6 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    height: 36px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    outline: none;
    padding: 0 3px;
    width: 128px;
}

.rating {
    direction: ltr;
    float: left;
    padding: 12px 0px;
}
.rating > input { display: none; } 
.rating > label {
    float: right;
}

.rating > label:before { 
  margin: 0px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f006";
}

/*.rating i.fa-star-o:hover:before,
.rating > i.fa-star-o:hover ~ i.fa-star-o:before {
    content: "\f005";
}*/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


span.rollover {
    font-size: 11px;
    font-weight: 100;
    line-height: 37px;
    padding-left: 4px;
}

.commentp {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentplike {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.checklist {
    display: inline-block;
    padding-left: 10px;
}

.checklist label {
    padding-left: 0;
    padding-right: 25px;
    vertical-align: text-top;
    color: white;
}

.Like {
    display: inline-block;
}

.reviewstyle th {
    position: relative;
}

#nameError,
#emailError {
    margin: 0;
    font-size: 11px;
    color: red;
    position: absolute;
    top: 25px;
    left: 146px;
}

#counterID {
    margin: 0px;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 16px;
}

.reviewdiv {
    position: relative;

}
#MessageEnough
{
    color: red;
    font-size: 12px;
    position: absolute;
    top: 77px;
    right: 20px;
}